/* Color Pallet: #E8FFCE Light Green  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: Helvetica;
}
:root {
  --lightgreen-color: #D5FFE4;
  --lightblue-color: #8BE8E5;
  --lightpurple-color: #A084E8;
  --purple-color: #6F61C0;
  --lightblack-color: rgba(0, 0, 0, 0.596);
}
/* ~~~~~~~~~~~~~~~~Navigation~~~~~~~~~~~~~~~~~~ */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D5FFE4;
  background: linear-gradient(275deg, var(--lightgreen-color) 0%, var(--lightblue-color) 100%);
  box-shadow:  2px 5px 0 rgba(0,0,0,0.16);
  padding: .5rem 1rem;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 1rem;
  position: relative;
}
#navbar a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lightblack-color);
  transition: 0.3s ease-in-out
}
#navbar a:hover{
  color: white;
  text-decoration: underline;
  text-underline-offset: .6rem;

}

.hamburgerIcon {
  font-size: 2rem;
  color: var(--lightblack-color);
}
.closeIcon{
  color: var(--lightblack-color);
  font-size: 1.7rem;
  font-family:'Lucida Sans';
}

.hidden{
  display: none
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Laptops and small monitors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 57rem) {
  * {
    
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Large Screens */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 95rem) {
  * {
    
  }


}